body {
    background-image: url(media/background.gif);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .main-text {
    background: #0d1117;
    border-radius: 10px;
    outline: solid 2px #3d444d;
    padding: 40px;
    margin: 0 5%;
}

.main .media {
    background: #0d1117;
    outline: solid 2px #3d444d;
    border-radius: 10px;
    padding: 0 2% 2%;
}

.main .media .pfp {
    border-radius: 5%;
    max-width: 100%;
}

a {
    display: flex;
    justify-content: center;
    background: #212830;
    color: #fff;
    outline: solid 1px #3d444d;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    text-decoration: none;
}

a:hover {
    background: #262c36;
}

.footer {
    position: absolute;
    bottom: 2%;
    left: 50%;
}